astroid==2.4.2
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.3
distlib==0.3.3
filelock==3.4.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
isort==5.5.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
pipenv==2021.11.23
platformdirs==2.4.0
pycc==2.0.0
pylint==2.6.0
six==1.15.0
SQLAlchemy==1.4.27
toml==0.10.1
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
wrapt==1.12.1
